.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 70vh;
  width: 40vh;
  align-items: center;
  background-color: #1a1a1d;
}

.joinInnerContainer {
  width: 80%;
}

.joinInput {
  border-radius: 5px;
  border: none;
  padding: 15px 20px;
  width: 100%;
  margin-top: 15px;
}

.joinHeading {
  color: white;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.joinButton {
  color: #fff;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}

.joinButton:hover {
  background-color: #0349c2;
}

.mt-20 {
  margin-top: 20px;
}

.joinButton:focus {
  outline: 0;
}
